<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommonSql">

	<sql id="pageingTop">
		SELECT * FROM (
    		 SELECT A.*, 
                 ROW_NUMBER() OVER() AS RNUM ,
                 COUNT(*) OVER() AS total_cnt FROM (
	</sql>
	
	
	<sql id="pageingBottom">
<!-- 			<if test=" ( sord != null and sord != '' ) and ( sidx != null and sidx != '' ) "> -->
<!-- 				ORDER BY ${sidx} ${sord} -->
<!-- 			</if> -->
	  <![CDATA[
			) A
		]]>    
	   <![CDATA[	
		) A WHERE RNUM > ${start} AND RNUM <= ${end}
		]]>
	</sql>


	<sql id="gridPagingTop">
		<![CDATA[
		SELECT	 ROW_NUMBER() OVER() AS		rnum
				,	COUNT(*) OVER()	AS		total_cnt
				,	A.*
		FROM	(
			SELECT	A.*
			FROM	(
		]]>
	</sql>
		
	<sql id="gridPagingBottom">
				<![CDATA[
				) A
				]]>
			<if test=" ( sord != null and sord != '' ) and ( sidx != null and sidx != '' ) ">
				ORDER BY ${sidx} ${sord}
			</if>
			<![CDATA[
			) A
		]]>
	</sql>

	<sql id="getGuid">
		SELECT	GET_GUID()
	</sql>

</mapper>